{
  "bootstrap.servers": "KAFKA_BROKER_HOSTNAME:PORT",
  "key.serializer": "org.apache.kafka.common.serialization.StringSerializer",
  "value.serializer": "org.apache.kafka.common.serialization.StringSerializer",
  "topic": "psobczak-topic"
}